@import '../../styles/index';

.notification {
  @include boxShadow;
  visibility: hidden;
  padding: 10px 24px;
  background: $wheat;
  border-radius: $SRadius;
  transform: translateX(-100%);
  transition: 0.3s;
}

.notification_visible {
  transform: translateX(0);
  visibility: visible;
  animation: notification 0.4s 0.3s;
}

.notification__wrapper {
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notification__message {
  font-size: $MFont;
}

@keyframes notification {
  0% {
    transform: rotate(1deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}