@import "../../styles/index";

.create__time {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.create__date {
  width: 55%;
}

.create__hours {
  width: 40%;
}

.create__form {
  margin: ($spacing-s * -2) auto;
  transform: scale(0.75);
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  align-items: center;
  max-width: 400px;

  @include respond-to('laptop') {
    margin: ($spacing-s * 2) auto;
    transform: scale(0.9);
  }
}

.create__button {
  width: 100%;
  height: 80px;

  @include respond-to('desktop') {
    margin-top: $spacing-xxl * -1;
    margin-bottom: $spacing-xl;
  }
}