@import "../../../../styles/index";

.input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid $black;
  border-radius: 7px;
  color: $black;
  font-size: $SFont;

  word-wrap: break-word;
  word-break: break-all;
  &::placeholder {
    color: $grey;
  }
}