@import "../../styles/index";

.preroom__wrapper {
  padding: $spacing-xxs;
  border: 2px solid $black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-s;
}