@import "./reset-style.scss";
@import "vars.module";
@import "mixin";

* {
  font-family: "Montserrat", sans-serif;
  color: $black;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: $black $white;
  scrollbar-width: 5px;
}

*::-webkit-scrollbar-thumb {
  display: block;
  background: $black;
  border-radius: 0.2em;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: $white;
}

#root {
  overflow-x: hidden;
}
