$wheat: #f1e9dc;
$black: #1c1c1c;
$brown: #875053;
$white: #fff;
$grey: #979797;
$lightGrey: #ebebeb;
$mediumGrey: #d1d1d1;
$red: #FF7665;
$XSFont: 16px;
$SFont: 20px;
$MFont: 24px;
$LFont: 28px;
$XLFont: 36px;
$XXLFont: 48px;
:export {
  brown: $brown;
  wheat: $wheat;
  white: $white;
  black: $black;
}
