@import "../../styles/index";

.form__wrapper {
  display: flex;
  flex-direction: column;
  padding: $spacing-xxs $spacing-xxs $spacing-s $spacing-xxs;
  gap: $spacing-s * 2;
  border-radius: 12px;
}

.form__title {
  font-size: $font-l;
  font-weight: $weight-semi-bold;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  margin-top: $spacing-xxs;
}

.form__button {
  margin: 0 auto;
  width: 120px;
  height: 50px;
}
