@import "../../styles/index";

.form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px 10px;
  gap: 30px;
  border-radius: 12px;
}

.form__title {
  font-size: $font-l;
  font-weight: 600;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.form__button {
  margin: 0 auto;
  width: 120px;
  height: 50px;
}
