@import '../../styles/index';

.chat {
  max-height: 300px;
  overflow-y: scroll;
  &_hide{
    display: none;
  }
  &__messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
  }
}