@import "../../styles/index";

.enter__wrapper {
  margin: 0 auto;
  transform: scale(0.75);
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  align-items: center;
  max-width: 400px;

  @include respond-to('laptop') {
    margin: $spacing-xxs auto;
    transform: scale(0.9);
  }

  @include respond-to('desktop') {
    margin: $spacing-l auto;
    transform: scale(0.9);
  }
}

.enter__button {
  width: 100%;
  height: 80px;

  @include respond-to('laptop') {
    margin-top: $spacing-s * -1;
    margin-bottom: $spacing-xl;
  }

  @include respond-to('desktop') {
    margin-top: $spacing-xxl * -1;
    margin-bottom: $spacing-xl;
  }
}
