@import "../../../styles/index";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index5;
  padding: 15px 0;
  width: 90%;
  border-radius: 15px;
  border: 1px solid $black;
  background: $white;
  max-width: 800px;
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: $font-l;
}

.modal__bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index4;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.modal__bg_active {
  display: block;
}
