@import "../../styles/index";

.room {
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  gap: 10px;

  &__chats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_switcher {
      width: 100%;
      height: 40px;
      display: flex;
      gap: 50px;
    }
  }

  &__video {
    width: 100%;

    &_hide {
      display: none;
    }
  }

  &__menu {
    border: 1px solid $black;
    height: 60%;
  }

  &__searcher {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
}