@import "../../../../styles/index";

.form_input__wrapper {
  width: 100%;
}

.input {
  position: relative;
  z-index: $z-index1;
  display: block;
  border: 2px solid $black;
  font-size: $font-l;
  border-radius: $radius-s;
  padding: 11px;
  width: 100%;

  &:focus ~ .input__label {
    font-weight: 600;
  }
}

.input__wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.input__button {
  position: absolute;
  z-index: $z-index2;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 600;
  border: 2px solid $black;
  font-size: $font-s;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;

  &:hover {
    color: $grey;
    border: 2px solid $grey;
  }

  &:active {
    transform: translateY(-50%) scale(0.96);
  }
}

.input__label {
  position: absolute;
  z-index: $z-index1;
  left: 20px;
  top: 0;
  border-radius: 3px;
  transform: translateY(-50%);
  color: $brown;
  background: $white;
  font-size: $font-m;
  text-transform: capitalize;
  transition: 0.2s;
}

.input_sub {
  display: flex;
  align-items: end;
  width: 100%;
  font-size: $font-m;
  border: 2px solid $grey;
  border-top: 0;
  padding: 10px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  transform: translateY(-15%);
  margin-bottom: -8px;
}

.input__error {
  font-size: $font-s;
  color: $red;
  font-weight: 500;
  padding-top: 3px;
}

.input__remove_button {
  width: 25px;
  height: 25px;
  bottom: 5px;
  transform: translateY(-35%) rotate(45deg);
  border: 2px solid $red;
  color: $red;

  &:hover {
    border: 2px solid $red;
    background: $wheat;
    color: $red;
  }

  &:active {
    transform: translateY(-35%) rotate(45deg) scale(0.95);
  }
}

.input__text {
  font-size: $font-s;
  color: $grey;
}

[type="date"],
[type="time"] {
  font-size: $font-s;
  padding: 13px;
}
