@import "../../../../styles/index";

.select {
  position: relative;
  width: 100%;
  height: 60px;
  cursor: pointer;
  background-color: $white;
  transform: translateX(-3px);
  z-index: $z-index2;
}

.select_basic {
  transform: translateX(0);
}

.select_disable {
  pointer-events: none;
}

.select__expand {
  z-index: $z-index1;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
    pointer-events: none;
  }

  &:checked::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.select__option {
  transform: translateY(-8px);
}

.select__expand_label {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: $radius-s;
}

.select__close {
  display: none;
}

.select__close_label {
  display: none;
}

.select__items {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid $black;
  border-radius: $radius-s;
  padding-top: 60px;
  box-shadow: 3px 3px $white, 4px 4px 0 1px $black;
  background: $white;
}

.select__items_basic {
  box-shadow: 0 0;
}

.select__input {
  display: none;
}

.select__label {
  padding-left: 5px;
  height: 0;
  display: block;
  overflow: hidden;
  color: $black;
  font-size: $font-s;
  line-height: 60px;
  background-color: #fff;
  cursor: pointer;
  border-radius: $radius-s;
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.select__label_basic {
  font-size: $font-m;
  font-weight: $weight-regular;
}

.select__label_placeholder {
  font-size: $font-s;
  color: $black;
  height: 60px;
  position: absolute;
  z-index: $z-index1;
  top: 0;
  overflow: visible;
  left: 0;
  vertical-align: middle;
  background-color: transparent;
  transform: translateY(-12.5%) !important;
}

.select__label_basic {
  transform: translate(17px, -25%) !important;
  height: 25px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: $brown;
  background: $white;
  font-size: $font-m;
}

.select__expand:checked {
  + .select__close_label {
    display: block;

    + .select__options {
      .select__label {
        height: 60px;

        &:hover {
          background-color: #e7e7e7;
        }
      }

      + .select__expand_label {
        display: none;
      }
    }
  }
}

.select__input:checked + .select__label {
  transform: translateY(20%);
  height: 40px;
  margin-top: -60px;
  font-weight: $weight-semi-bold;

  &_basic {
    font-weight: $weight-regular;
  }
}
