@import "../../styles/index";

.preroom {
  width: 100%;
}

.preroom__name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: $SFont;
  color: $black;
  margin-bottom: 20px;
}

.preroom__name_text {
  font-weight: 700;
}

.preroom__name_input {
  font-size: $SFont;
  text-align: center;
  font-weight: 500;

  &::placeholder {
    font-weight: 500;
    color: $grey;
  }
}

.preroom__wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.preroom__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.preroom__role {
  width: 100%;
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {

  .preroom__wrapper {
    max-width: 1000px;
    flex-direction: row;
    gap: 50px;
  }

  .preroom__name {
    font-size: $MFont;
    flex-direction: row;
  }

  .preroom__name_input {
    text-align: left;
    font-size: $MFont;
  }

}