@import "../../styles/index";

.preroom {
  width: 100%;
}

.preroom__name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $spacing-xxs;
  font-size: $font-s;
  color: $black;
  margin-bottom: $spacing-s;
  
  @include respond-to('laptop') {
    font-size: $font-m;
    flex-direction: row;
  }
}

.preroom__name_text {
  font-weight: $weight-bold;
}

.preroom__name_input {
  font-size: $font-s;
  text-align: center;
  font-weight: $weight-medium;
  
  @include respond-to('laptop') {
    text-align: left;
    font-size: $font-m;
  }

  &::placeholder {
    font-weight: $weight-medium;
    color: $grey;
  }
}

.preroom__wrapper {
  max-width: $mobile-l;
  display: flex;
  flex-direction: column;
  gap: $spacing-s * 2;
  margin: 0 auto;

  @include respond-to('laptop') {
    max-width: 1000px;
    flex-direction: row;
    gap: $spacing-xl;
  }
}

.preroom__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
}

.preroom__role {
  width: 100%;
  text-transform: capitalize;
}
