@import "../../styles/index";

.nav {
  width: 100%;
  padding: 15px;
  border: 1px solid $black;
  display: flex;
  justify-content: space-around;
  gap: 10px 5px;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
}

.nav__text {
  font-size: $SFont;
  font-weight: 500;
}

.nav_active {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {

  .nav {
    flex-direction: column-reverse;
    height: 100%;
    width: auto;
  }

  .nav__wrapper {
    flex-direction: row;
  }

  .nav__text {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

}