@import "../../styles/index";

.nav {
  width: 100%;
  padding: 15px;
  border: 1px solid $black;
  display: flex;
  justify-content: space-around;
  gap: 10px 5px;

  &__text {
    font-size: $SFont;

    font-weight: 500;
    &_active {
      font-weight: 700;
    }
  }
}