@import "../../styles/index";

.login {
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  &:active {
    transition: 0.2s;
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(0.97);
  }
}

.login__wrapper {
  position: relative;
  width: 82px;
  height: 82px;
  border-radius: $radius-s;

  &:hover {
    .login__hover {
      opacity: 1;
    }
  }
}

.login__hover {
  opacity: 0;
  transition: 0.2s;
}
