.media__radio {
  display: none;
}

.media__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.media__wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.media__button {
  width: 110px;
  height: 45px;
}