@import "../../styles/index";

.media__radio {
  display: none;
}

.media__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-s;
  padding: $spacing-xxs $spacing-s;
}

.media__wrapper {
  display: flex;
  gap: $spacing-xxs;
  width: 100%;
}

.media__button {
  width: 110px;
  height: 45px;
}