@import "../../styles/index";

.message {
  width: 100%;
  display: flex;
  justify-content: right;
}

.message_received {
  justify-content: left;

  .message__container {
    flex-direction: row;
  }

  .message__text {
    color: $white;
  }

  .message__wrapper {
    background-color: $brown;
  }

  .message__arrow {
    fill: $brown;
    left: 0;
    bottom: 0;
    transform: translate(-42.4%, 42.2%) scaleX(-1);
  }
}

.message__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: $spacing-s;
}

.message__wrapper {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: $wheat;
  border: 1px solid $black;
  border-radius: $radius-s;
  padding: $spacing-xxs;
}

.message__arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(42.4%, 42.2%);
  width: 30px;
  height: 30px;
  fill: $wheat;
}

.message__avatar {
  transform: translateY(80%);
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
  background-color: $wheat;
}

.message__text {
  position: relative;
  font-weight: $weight-medium;
  color: $black;
  font-size: $font-s;
}
