@import "../../styles/index";

.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: 80px;

  @include respond-to("laptop") {
    font-size: 120px;
  }
  @include respond-to("desktop") {
    font-size: 170px;
  }
}

.in_page_nav {
  z-index: $z-index3;
  position: fixed;
  top: $header-mobile-height;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  width: 100%;
  padding: $spacing-xs;
  background: $white;
  display: flex;
  gap: $spacing-s * 2;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond-to("laptop-l") {
    top: 50%;
    left: auto;
    transform: translate(0, -50%);
    right: $spacing-xl;
    gap: $spacing-xl * 2;
    flex-direction: column;
    width: auto;
    padding: 0;
    background: transparent;
  }

  @include respond-to("desktop") {
    right: $spacing-xxxl * 2;
  }
}

.in_page_nav__link {
  font-size: $font-s;
  transition: 0.2s;

  @include respond-to("laptop-l") {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: $font-m;
  }
}

.in_page_nav__link_active {
  font-weight: $weight-bold;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $spacing-xl $spacing-xxs;
}

.instruction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-m;
  max-width: $laptop;
}

.instruction__article {
  position: relative;
  text-align: justify;
  font-size: $font-s;

  &:before {
    font-size: $font-xl;
    font-weight: $weight-bold;
  }

  &:nth-child(2):before {
    content: "1. ";
  }

  &:nth-child(3):before {
    content: "2. ";
  }

  &:nth-child(4):before {
    content: "3. ";
  }

  &:nth-child(5):before {
    content: "4. ";
  }

  &:nth-child(odd):before {
    color: #ffffff;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  }

  @include respond-to("laptop-l") {
    font-size: $font-m;

    &:before {
      position: absolute;
      top: 50%;
      left: -59px;
      transform: translateY(-50%);
      font-size: $font-l * 2;
    }
  }

  @include respond-to("tablet") {
    font-size: $font-s;

    &:before {
      left: -49px;
      font-size: $font-xxl;
    }
  }
}

.welcome {
  position: relative;
  height: calc(100vh - #{$header-mobile-height});
  align-items: center;
  flex-direction: column;
  gap: $spacing-s;
  text-align: center;
  padding: 0 $spacing-xxs;
  max-width: $laptop-l;
  margin: 0 auto;

  @include respond-to("laptop") {
    height: calc(100vh - #{$header-desktop-height});
    flex-direction: row;
    justify-content: center;
  }
}

.welcome__title {
  font-weight: bold;
  font-size: 1em;

  @include respond-to("laptop") {
    font-size: 1.4em;
  }
}

.welcome__title_wrapper {
  max-width: $mobile-l;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $spacing-xxxxs;

  @include respond-to("laptop") {
    flex-direction: column-reverse;
  }

  @include respond-to("desktop") {
    max-width: 700px;
  }
}

.welcome__subtitle {
  font-size: 0.25em;
  font-weight: 600;

  @include respond-to("laptop") {
    font-size: 0.21em;
  }
}

.welcome__text {
  max-width: $mobile-l;
  text-align: justify;
  font-size: $font-s;

  @include respond-to("laptop") {
    transform: translateY(-$spacing-xxs);
    font-size: $font-m;
  }

  @include respond-to("desktop") {
    max-width: 700px;
    font-size: 0.186em;
  }
}

.welcome__arrow {
  width: 50px;
  cursor: pointer;
  fill: $white;
  transition: 0.2s;
}

.welcome__arrow_link {
  position: absolute;
  bottom: $spacing-xxs;
}

.welcome__arrow_active {
  fill: $black;
}

.room {
  background: $wheat;
}

.room__wrapper {
  max-width: $laptop-l;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-s;
}

.room__button_wrapper {
  width: 200px;
  height: 200px;

  @include respond-to("laptop") {
    width: 300px;
    height: 300px;
  }

  @include respond-to("laptop-l") {
    width: 400px;
    height: 400px;
  }
}

.room__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: $spacing-s;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include respond-to("mobile-l") {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.about {
  background: $wheat;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-s;
  max-width: $laptop;
}

.about__text {
  font-size: $font-s;
  text-align: justify;

  @include respond-to("laptop-l") {
    font-size: $font-m;
  }
}

.instruction {
  @include respond-to("tablet") {
    padding-left: $spacing-xxl;
  }
}
