@import "../../styles/index";

.user__info {
  font-size: $SFont;
  color: $black;
  font-weight: 600;
  word-wrap: break-word;

  &::-webkit-calendar-picker-indicator {
    margin: 0;
    padding: 0;
  }

  padding: 0;

  &_wrapper {
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    @include boxShadow;
    transform: translateX(-3px);
  }

  &_title {
    font-size: $XSFont;
    color: $brown;
  }
}