<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Sobbi</title>
    <style>
      @media (prefers-color-scheme: dark) { .link-to-room { background-color:
      #f1e9dc !important; border: 3px solid #1c1c1c !important; } } @import
      url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
      body { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif;
      font-weight: 300; background-color: #f2f2f2; } .container { width: 60%;
      background-color: white; } td { padding: 0; } table { border-spacing:
      16px; padding: 12px 10px; } .title { font-size: 24px; font-weight: 700; }
      .web-site-name { text-decoration: none; } .logo-container { text-align:
      right; } .link { color: #1c1c1c; } .link_recommendation { font-weight:
      400; line-height: 24px; } .link_clarification { color: #979797; }
      .link-to-room { height: 60px; width: 240px; font-weight: 700;
      border-radius: 13px; line-height: 58px; font-size: 25px; display:
      inline-block; text-decoration: none; background-color: #f1e9dc; border:
      3px solid #1c1c1c; user-select: none; transition: 0.2s; }
      .link-to-room_shadow { position: relative; } .link-to-room_front {
      transform: translate(-7px, -7px); position: absolute; display: block; }
      .link-to-room_front:active { transform: translate(-3px, -3px); }
      .simple-text { text-align: justify; line-height: 20px; } .clarification {
      color: #979797; font-size: 14px; } .button-container { text-align: center;
      height: 100px; } @media screen and (max-width: 600px) { .container {
      width: 80%; } } @media screen and (max-width: 400px) { .container { width:
      90%; } }
    </style>
  </head>
  <body>
    <br /><br />
    <center class='wrapper'>
      <table class='container'>
        <tr>
          <td class='logo-container'>
            <a
              class='title link web-site-name'
              href='https://sobbi.pw'
              target='_blank'
            >Sobbi</a>
          </td>
        </tr>
        <tr>
          <td class='title'>🙅‍♂️</td>
        </tr>
        <tr>
          <td>
            Hello, this is Alexander from the
            <a class='link' href='https://sobbi.pw' target='_blank'>Sobbi</a>. You have successfully exited room {{roomName}} assigned to {{date}} {{time}}.</td>
        </tr>

      </table>
    </center>
    <br /><br />
  </body>
</html>