@import "../../styles/index";

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 2px solid $black;
  border-radius: $radius-s;
}

.list__title {
  width: 100%;
  font-size: $font-l;
  color: $black;
  font-weight: 600;
}

.list__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__users {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list__button {
  width: 140px;
  height: 50px;
}
