@import "../../../styles/index";
.avatar {
  position: relative;
  border-radius: 50%;
  border: 2px solid $brown;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $wheat;
  overflow: hidden;
}

.avatar_edit {
  position: absolute;
  z-index: $z-index1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 30%;
    background: $wheat;
    border-radius: 5px;
  }

  &:before {
    width: 30%;
    height: 4px;
  }
}

.avatar__file {
  display: none;
}

.avatar__photo {
  object-fit: cover;
}
