@import '../../styles/index';

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  a {
    &:active {
      transition: 0.2s;
      opacity: 0.7;
      transform: scale(0.97);
    }
  }

  &__wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    overflow: visible;

    background: $white;
    transition: 0.2s;
    transform: translate(-102%, 0);
    @include boxShadow;

    &_active {
      transform: translate(-3px, 0);

      .header {
        &__nav {
          margin-top: 75px;
          flex-direction: column;
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1em;
  }

  &__link {
    font-size: 1em;

    &_secondary {
      font-size: 0.8em;
    }
  }

  &__logo {
    position: relative;
    z-index: 3;
    width: 100px;
    height: 50px;
  }
}

.burger {
  position: relative;
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: $wheat;
  border: 2px solid $black;

  &__rectangle {
    transform: translate(-5px, -5px);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: $wheat;
    border: 2px solid $black;
    transition: 0.2s;

    &:active {
      transform: translate(-2px, -2px);
    }

    &:after,
    &:before,
    span {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 7px;
      border-radius: 8px;
      background: $brown;
      transition: 0.2s;
    }

    &:after,
    &:before, {
      content: '';
    }

    &:after {
      top: 6px;
    }

    &:before {
      bottom: 6px;
    }

    span {
      z-index: 1;
      top: 50%;
      transform: scale(1) translateY(-50%) translateX(-50%);
    }

    &_active {
      &:after {
        top: 8px;
        width: 50%;
        left: 11px;
        transform: rotate(315deg) translate(-50%, -50%);
      }

      &:before {
        bottom: 2px;
        width: 50%;
        left: 7px;
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
  }
}

.form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  margin: 0 auto;
  transform: scale(0.85);

  &__button {
    padding-top: 10px;
    height: 60px;
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    .burger {
      display: none;
    }

    &__wrapper {
      position: relative;
      transform: translate(0, 0);
      background: none;
      width: 50%;
      box-shadow: none;
      border: none;

      &_active {
        .header {
          &__nav {
            margin: 0;
            flex-direction: row;
          }


        }


      }
    }

    &__nav {
      align-items: center;
      flex-direction: row;
    }
  }
  .form {
    transform: scale(1);
  }
}