@import "../../../styles/index";

.user__title {
  font-size: $font-l;
  font-weight: $weight-semi-bold;
  margin-bottom: $spacing-s;
}

.user__description {
  max-width: 700px;
  overflow-wrap: break-word;
  hyphens: manual;
  margin-left: $spacing-xxxs;
}

.user__description_button {
  width: 200px;
  height: 70px;
}

.user__description_text {
  margin: 0 0 0 $spacing-xxs;
  font-size: $font-s;
}

.user__description_textarea {
  border-radius: $radius-s;
  outline: 1px solid $black;
  resize: none;
  margin: 0 $spacing-xxxs 0 $spacing-xxs;
  padding: $spacing-xxs;
  font-size: $font-s;
  max-width: 95%;

  &:focus {
    outline: 1px solid $black;
  }
}