@import "../../../styles/index";

.user {
  max-width: $laptop;
  width: 100%;
  padding: $spacing-xxs;
  display: flex;
  flex-direction: column;
  gap: $spacing-l * 2;
  margin: 0 auto;
}

.user__info {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
}

.user__info_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-s;
  
  @include respond-to('tablet') {
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.user__info_name {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  
  @include respond-to('laptop') {
    flex-direction: row;
    width: 620px;
  }
}

.user__info_media {
  display: flex;
  flex-direction: row;
  gap: $spacing-xxs;
}
