@import "../../styles/index";

.feedback {
  width: 100%;
  background: $white;
  border-radius: 21px;
  border: 2px solid $black;
  margin-left: 5px;
}

.feedback__wrapper {
  padding: 5px 10px;
  transform: translate(-5px, -5px);
  width: 100%;
  background: $white;
  border-radius: 19px;
  outline: 2px solid $black;
  transition: 0.2s;

  &:active {
    transform: translate(0, 0);
  }
}

.feedback__title {
  text-align: left;
  font-size: $font-m;
  font-weight: 700;
  margin-bottom: 10px;
}

.feedback__text {
  text-align: left;
  font-size: $font-s;
  font-weight: 500;
  color: $grey;
}

.feedback__text_strong {
  font-weight: 600;
}

.feedback__mark {
  display: flex;
  align-items: center;
  gap: 5px;
}
