@import "../../styles/index";

.feedback {
  width: 100%;
  background: $white;
  border-radius: 21px;
  border: 2px solid $black;
  margin-left: $spacing-xxxs;
}

.feedback__wrapper {
  padding: $spacing-xxxs $spacing-xxs;
  transform: translate(-$spacing-xxxs, -$spacing-xxxs);
  width: 100%;
  background: $white;
  border-radius: 19px;
  outline: 2px solid $black;
  transition: 0.2s;

  &:active {
    transform: translate(0, 0);
  }
}

.feedback__title {
  text-align: left;
  font-size: $font-m;
  font-weight: $weight-bold;
  margin-bottom: $spacing-xxs;
}

.feedback__text {
  text-align: left;
  font-size: $font-s;
  font-weight: $weight-medium;
  color: $grey;
}

.feedback__text_strong {
  font-weight: $weight-semi-bold;
}

.feedback__mark {
  display: flex;
  align-items: center;
  gap: $spacing-xxxs;
}