@import "../../styles/index";

.searcher {
  width: 100%;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  transition: 0.2s;
}

.searcher_open {
  gap: 0;

  .searcher__header_arrow {
    transform: translateY(-50%);
  }

  .searcher__content {
    margin: 0;
    overflow: hidden;
    max-height: 0;

    .searcher:hover {
      background: red;
    }
  }
}

.searcher__header {
  position: relative;
  padding: $spacing-xxxs;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $light-grey;
  }

  &:active {
    background-color: $medium-grey;
  }
}

.searcher__header_arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(180deg);
  width: 15px;
  transition: 0.2s;
}

.searcher__title {
  font-size: $font-l;
  font-weight: $weight-bold;
}

.searcher__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  margin: $spacing-xxxs;
  max-height: 400px;
  transition: 0.2s;
}

.searcher__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-xxs;
}

.searcher__difficulty {
  display: flex;
  gap: $spacing-xxs;
  height: 50px;
}

.searcher__tests {
  padding-top: $spacing-xxxs;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xxs;
}

@media screen and (min-height: 750px) {
  .searcher__content {
    max-height: $mobile-l;
  }
}

@media screen and (min-height: 1000px) {
  .searcher__content {
    max-height: 800px;
  }
}

@media screen and (min-height: 1200px) {
  .searcher__content {
    max-height: 1000px;
  }
}
