@import "../../styles/index";

.searcher {
  padding: 5px;
  width: 100%;
  border: 1px solid $black;
  &__title {
    font-size: $MFont;
    font-weight: 700;
  }
  &__difficulty{
    display: flex;
    gap: 10px;
    height: 50px;
  }
}